body {
  margin: 0;
  padding: 0;
  background-color: #feeaa1;
  font-family: Roboto;
  color: rgb(0, 0, 0);
}

.header-first {
  background-color: #226d68;
  margin: 0;
  padding: 0;
}

.header-second {
  background-color: #226d68;
  margin: 0;
  padding: 0;
}

/* Suppresion des marges pour le header*/
h1 img {
  display: block;
}

.header-first h2,
.header-first h3,
.header-first p,
.header-first ul,
.header-first li {
  margin: 0;
  padding: 0;
}
