body {
  background-color: #000000;
  font-family: Roboto;
  color: rgb(0, 0, 0);
}

.ImageCV{
  position: absolute;
  top: 0;
  left: 50;
  transform: translateX(50%);
}

.header-first {
  background-color: #ffffff;
}

.header-second {
  background-color: #226d68;
}

.centre1 {
  text-align: center;
line-height: 4;
color: white;

}

.titre1 {
  text-align: center;
  line-height: 2;
}

.titre2{
  text-align: center;
  line-height: 2;
}

.texteprojets{
  margin-left: 25px;
  padding-left: 25px;
}
