body {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
}

.gallery {
  display: flex;
  min-height: 1080px;
}

.gauche, .droite {
  padding: 20px;
}

.gauche {
  flex: 1;
  background-color: #000000;
}

.droite {
  flex: 2;
  background-color: #ffffff;
  color: black;
}

.ImageCV {
  display: block;
  margin: 0 auto;
}

.titre1, .formation, .langues, .contact, .interet {
  text-align: center;
}

.skills table {
  width: 100%;
}

.interet ul {
  list-style-type: none;
  padding: 0;
}

.interet li {
  margin-bottom: 10px;
}
